In [1]:
import pandas as pd

In [2]:
import numpy as np

In [7]:
df = pd.DataFrame(np.array([[1,1,1,1,1,1],
          [2,2,2,2,2,2],
          [3,3,3,3,3,3],
          [4,4,4,4,4,4],
          [5,5,5,5,5,5]]),columns = ['gene_a','gene_b','gene_c','gene_a','gene_b','gene_b'],index=['cell0','cell2','cell3','cell4','cell5'])

In [8]:
df

       gene_a  gene_b  gene_c  gene_a  gene_b  gene_b
cell0       1       1       1       1       1       1
cell2       2       2       2       2       2       2
cell3       3       3       3       3       3       3
cell4       4       4       4       4       4       4
cell5       5       5       5       5       5       5

In [9]:
df.groupby(df.columns,axis=1).sum()

       gene_a  gene_b  gene_c
cell0       2       3       1
cell2       4       6       2
cell3       6       9       3
cell4       8      12       4
cell5      10      15       5